.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
    margin-left: 150px;
   
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
   
}

nav{
    background-color: black; /* Change to your desired background color */
    /* Add any other styles you want when scrolling down */
  }